<html>
  <head>
    <script type="text/javascript" src="../dashboard.js"></script>
  </head>
  <body onload="webSocketSetup(); setInterval('update()', 1000 )">
    <h2><div id="room_name">&nbsp;</div></h2>
    <br/>
    <div id="clock">&nbsp;</div>
    <br/>
    <div id="current_event">&nbsp;</div>
    <br/>
    <div id="remaining">&nbsp;</div>
    <br/><br/>
    Upcoming meetings today:
    <br/>
    <div id="next_events">&nbsp;</div>
    <br/>
    <form id="form">
      <input type="text" id="input"</input>
    </form>
  </body>
