<!doctype html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Meeting Room Dashboard</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-red.min.css">
    <link rel="stylesheet" type="text/css" href="<%= url('/dashboard.css') %>">
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.2/screenfull.min.js"></script>
    <script src="<%= url('/dashboard.js') %>"></script>
  </head>
  <body>
    <dialog class="mdl-dialog">
      <h4 class="mdl-dialog__title">Lost connection to the server.</h4>
      <div class="mdl-dialog__content">
        <p>
          Maybe the the serve restarted because of a new version. Please refresh.
        </p>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button refresh">Refresh</button>
      </div>
    </dialog>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span id="room_name" class="mdl-layout__title">&nbsp;</span>
          <div class="mdl-layout-spacer"></div>
          <span id="clock" class="mdl-layout__title">&nbsp;</span>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">Reserve room</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link reserve-button" href="#" data-duration="15">15 minutes</a>
          <a class="mdl-navigation__link reserve-button" href="#" data-duration="30">30 minutes</a>
          <a class="mdl-navigation__link reserve-button" href="#" data-duration="60">1 hour</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="mdl-grid">
          <div id="current-meeting" class="mdl-cell mdl-cell--6-col">
            <h1><div id="current_event">&nbsp;</div></h1>
            <br>
            <h3><div id="remaining">&nbsp;</div></h3>
            <br>
            <h4><div id="attendees">&nbsp;</div></h4>
          </div>
          <div class="mdl-cell mdl-cell--6-col">
            <h4>
              <div id="next_events">&nbsp;</div>
            </h4>
          </div>
        </div>
      </main>
      <button id="full-screen" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i class="material-icons">fullscreen</i></button>
    </div>
  </body>
</html>
