<html>
  <head>
    <script type="text/javascript" src="../dashboard.js"></script>
    <script type="text/javascript" src="../screenfull.js"></script>
  </head>
  <body onload="pageSetup(); setInterval('update()', 1000 )">
    <h2><div id="room_name">&nbsp;</div></h2>
    <br/>
    <div id="clock">&nbsp;</div>
    <br/>
    <div id="current_event">&nbsp;</div>
    <br/>
    <div id="remaining">&nbsp;</div>
    <br/><br/>
    Upcoming meetings today:
    <br/>
    <div id="next_events">&nbsp;</div>
    <br/>
    <input type="button" value="10 minutes" data-duration="10" id="button_1">
    <input type="button" value="20 minutes" data-duration="20" id="button_2">
    <input type="button" value="30 minutes" data-duration="30" id="button_3">
    <input type="button" value="1 hour" data-duration="60" id="button_4">
    <br/>
    <input type="button" value="Full screen" id="button_5">
  </body>
