<html>
  <head>
    <script type="text/javascript">
    <!--
    function update(){
      updateClock()
    }

    function updateRoomName(){

    }

    function updateEvents(){

    }

    function webSocketSetup(){
      function show(msg){
        document.getElementById("msgs").firstChild.nodeValue = msg;
      }

      function onMessage(data){
        show('websocket message: ' +  data);
      }

      var protocol = location.protocol === 'https:' ? 'wss' : 'ws'

      var ws       = new WebSocket(protocol + '://' + window.location.host + window.location.pathname);
      ws.onopen    = function(){};
      ws.onclose   = function(){};
      ws.onmessage = function(message){onMessage(message.data);};

      document.getElementById('form').onsubmit = function(){
        ws.send(document.getElementById('input').value);
        return false;
      }
    }

    function updateClock(){
      var currentTime = new Date();

      var currentHours = currentTime.getHours();
      var currentMinutes = currentTime.getMinutes();
      var currentSeconds = currentTime.getSeconds();

      currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;
      currentSeconds = (currentSeconds < 10 ? "0" : "") + currentSeconds;

      var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds;

      document.getElementById("clock").firstChild.nodeValue = currentTimeString;
    }

    // -->
    </script>
  </head>
  <body onload="webSocketSetup(); update(); setInterval('update()', 1000 )">
     <div id="clock">&nbsp;</div>
   <form id="form">
     <input type="text" id="input" value="send a message"></input>
   </form>
   <div id="msgs">&nbsp;</div>
  </body>

</html>
