<html>
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="<%= @client_id %>">
  </head>
  <body>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
